---
layout: default
---


<style>
.zac a {
	color:white;
}


.main-carousel {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}

</style>





 <script src="/assets/js/flickity.js"></script>


                    <div class="main-carousel" data-flickity='{ "pageDots": false, "wrapAround": true, "pauseAutoPlayOnHover": false, "autoPlay": 3000, "imagesLoaded": true, "bgLazyLoad": 1, "draggable": false }'>
                        {% for image in site.static_files %}
                        {% if image.path contains 'coverslide' %}
                        <div class="carousel-cell-big" style="background-image: url({{ image.path }})"></div>
                        {% endif %}
                        {% endfor %}
                    </div>









    <a href="/projects/">
        <div class="index-button" style="display:inline-block">
            <h4>Project Index</h4>
        </div>
    </a>


</div>