---
layout: page
title: Resume
---


<h1>Zachary Mollica</h1>
<div style="color:red;"">Canadian</div>
{{ site.time | date: '%Y' | minus: 1990 }} years old





<h2>Education</h2>


	{% for school in site.data.resume.schools %}

		<div>
		<h4>{{ school.name }}</h4>
		<span>{{ school.date }}, {{ school.location }}</span>
		<p>{{ school.description }}</p>

		</div>

	{% endfor %}


<h2>Work</h2>


	{% for job in site.data.resume.jobs %}

		<div>
		<h4>{{ job.name }}</h4>
		<span>{{ job.date }}, {{ job.location }}</span>
		<p>{{ job.description }}</p>

		</div>

	{% endfor %}




<h2>Writing</h2>

<ul>



	{% for paper in site.data.resume.papers %}

		<li>
		<span>{{ paper.year }}</span>
		<a href=""><span>{{ paper.name }}</span></a>
		<p>{{ paper.context }}</p>
		</li>

	{% endfor %}


</ul>


<h2>Press</h2>

<ul>


	{% for piece in site.data.resume.press %}

		<li>
			<span>{{ piece.year }}</span>
			
			<span>
			{% if piece.link %}
				<a href="{{ piece.link }}">{{ piece.name }}</a>
			{% else %}
			{{ piece.name }}
			{% endif %}
			{{ piece.description }}

			</span>

		</li>

	{% endfor %}

</ul>


<h2>Awards</h2>







<ul>


	{% for award in site.data.resume.awards %}

	<li>
	<span>{{ award.year }}</span>
	<span>{{ award.description }}</span>

	</li>

	{% endfor %}



</ul>
