---
layout: project
title: Sketchbook
name: sketchbook
year: Ongoing
order: 12
---




<div class="row">
<div style="margin:0 auto;">

    {% for image in site.static_files %}
        {% if image.path contains 'sketchbook' %}
            {% unless image.path contains 'cover' or image.path contains 'thumb' | reverse %}

                <div class="span6">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" ">
                </div>

            {% endunless %}
        {% endif %}
    {% endfor %}



</div>
</div>