---
layout: project-plain
year: Ongoing
order: 20
comment: "A selection of writings and publications"
---

<!--
            <ul>
                {% for paper in site.data.resume.papers %}
                <li>
                    <span>{{ paper.year }}</span>
                    <a href="{{ paper.file }}"><span>{{ paper.name }}</span></a>
                    <p>{{ paper.context }}</p>
                </li>
                {% endfor %}
            </ul>
-->





            {% for listing in site.data.resume %}

                {% if listing.category == 'Papers' %}

                {% for item in listing.sub %}
                            <div class="resume-item">

                {% if item.role %}<h5>{{ item.role }}</h5>{% endif %}
                <h4>{{ item.name }}</h4>

                {% if item.description or item.location or item.link %}
                <p>{{ item.description }}

                    {% if item.location or item.date or item.link %}<br>{% if item.location %}{{ item.location }}{% endif %}{% if item.date %} / {{ item.date }}{% endif %}
                    
                    {% if item.link %} / <a href="{{ item.link }}" target="_blank">Link</a>{% endif %}{% endif %}
                </p>
                {% endif %}
                            </div>

                {% endfor %}
                                {% endif %}

            {% endfor %}