<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zachary Mollica. {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=69kvYLyK0L">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=69kvYLyK0L" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=69kvYLyK0L" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=69kvYLyK0L">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=69kvYLyK0L" color="#000000">
<link rel="shortcut icon" href="/favicon.ico?v=69kvYLyK0L">
<meta name="theme-color" content="#ffffff">


</head>
