<div class="row project-details">
    {% if page.team %}
    <div class="span6">
        <h4>Team</h4>
        <div class="small">
            <p>
                {% for person in page.team %} {% if site.data.collaborators[person].link %}
                    <a href="{{ site.data.collaborators[person].link }}" target="_blank">{{ person }}</a>
                    {% else %}{{ person }}{% endif %}
                    {% if forloop.last == false %}
                    <br>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="span6">
        {% if page.link %}
        <h4>Info</h4>
        <div class="small">
            <p>
                <a href="http://{{ page.link }} ">{{ page.link}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>