/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* Fonts */
@font-face {
    font-family: 'webregular';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/webfont.eot);
    src: url(/assets/fonts/webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/webfont.woff2) format('woff2'), url(/assets/fonts/webfont.woff) format('woff'), url(/assets/fonts/webfont.ttf) format('truetype'), url(/assets/fonts/webfont.svg#webregular) format('svg');
}

@font-face {
    font-family: 'webmono';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/mono-webfont.eot);
    src: url(/assets/fonts/mono-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/mono-webfont.woff2) format('woff2'), url(/assets/fonts/mono-webfont.woff) format('woff'), url(/assets/fonts/mono-webfont.ttf) format('truetype'), url(/assets/fonts/mono-webfont.svg#webmono) format('svg');
}

@font-face {
    font-family: 'webbold';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/bold-webfont.eot);
    src: url(/assets/fonts/bold-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/bold-webfont.woff2) format('woff2'), url(/assets/fonts/bold-webfont.woff) format('woff'), url(/assets/fonts/bold-webfont.ttf) format('truetype'), url(/assets/fonts/bold-webfont.svg#webbold) format('svg');
}

/* Site Styles */
body,html {
    font-family: 'webregular', 'Open Sans', arial, helvetica !important;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
    color: #222;
}
* {
    margin: 0;
    padding: 0;
}
*,:after,:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
img,embed,object,video {
    max-width: 100%;
    border: 0;
}
hr {
    display: block;
    height: 3px;
    margin: 3em 0;
    padding: 0;
    border: 0;
    border-top: 3px solid #000;
}
p {
    line-height: 1.6;
    margin-bottom: 30px;
}
b,strong {
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #000;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'webregular', 'Open Sans', arial, helvetica;
}
h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 30px;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
}
h5 {
    font-size: 2em;
    font-weight: 700;
}
h6 {
    font-size: 2em;
    font-weight: 700;
}
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}
ul {

}

li {

}


/* Main Elements Styles */
.container {
    margin: 100px auto 0;
    padding: 0;
    width: 100%;
}
footer .container {
    margin-top:50px;
}
.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}
.content a {
    color: #4649ff;
}
.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}
.row {
    margin: 0 -15px;
}
.row:after {
    clear: both;
}
[class*="span"] {
    display: block;
    float: left;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
}
[class*="span"] img {
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
}

.span1{width:8.3333%}
.span2{width:16.666667%}
.span3{width:25%}
.span4{width:33.333%}
.span5{width:41.6667%}
.span6{width:50%}
.span7{width:58.3333%}
.span8{width:66.6667%}
.span9{width:75%}
.span10{width:83.3333%}
.span11{width:91.6667%}
.span12{width:100%}
.offset1{margin-left:8.3333%}
.offset2{margin-left:16.666667%}
.offset3{margin-left:25%}
.offset4{margin-left:33.333%}
.offset5{margin-left:41.6667%}
.offset6{margin-left:50%}
.offset7{margin-left:58.3333%}
.offset8{margin-left:66.6667%}
.offset9{margin-left:75%}
.offset10{margin-left:83.3333%}
.offset11{margin-left:91.6667%}
.offset12{margin-left:100%}

/** Header **/
header {
    font-size: 1rem;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
}
.title-small {
    font-family: 'webbold', arial, helvetica;
    font-size: 2em;
    font-weight: 700;
    z-index: 9999;
    display: block;
    float: left;
    text-align: left;
    text-decoration: none;
    color: #000;
}
nav {
    font-family: 'webmono';
    font-size: 1em;
    z-index: 9999;
    display: block;
    float: right;
    color: #000;
}
nav a {
    color: #000;
}
nav ul {
    width: 100%;
    margin-top: .4em;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 0 0 20px;
}
nav ul li.sel {
    border-bottom: 1px solid #000;
}


/** FOOTER **/
footer {
    font-size: .8rem;
    width: 100%;
}
footer a {
    color: #000;
}
.copyright {
    font-family: 'webmono';
    font-size: 1em;
}


/** Landing Page Fullscreen Background **/

.background {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.title {
    font-family: 'webbold', 'Open Sans', arial, helvetica;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5rem;
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-50%);
    text-align: center;
    text-decoration: none;
    color: #fff;
}


/** Customise Body Text on ABOUT Page **/
.largetext {
    font-family: 'webmono';
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    text-align: left;
    text-decoration: none;
    color: #fff;
}
.largetext a {
    color: #fff;
    border-bottom: 3px solid #fff;
}
.largetext a:hover {
    color: #f90e1e;
    border-bottom: 3px solid red;
}

/** Project Index **/


.square-person {
    overflow: hidden;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.square-person:after {
    display: block;
    padding-bottom: 75%;
    content: '';
}

.project-grid {
    position: relative;
    margin-bottom: 0;
}
.project-grid img {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.project-date {
    font-family: 'webmono' !important;
    font-size: .6em;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    color: #898989;
    border-bottom: 1px solid #000;
}

.project {
}
.project-title {
    font-family: 'webregular', 'Open Sans', arial, helvetica;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 0 20px;
}
.project-title h2 {
    color: #4649ff;
}
.project-caption {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.project:hover .square-person {
    background-image: none!important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
}
.project:hover .project-title {
    display: block;
}

/** Project Page **/
#project h1 {
    font-size: 4em;
    text-align: left;
}
#project img {
    margin-bottom: 2%;
}
#page ul {
    margin-left: 30px;
}
#page li {
    margin-bottom: 10px;
}
#page h1 {
    font-size: 5em;
}
.projectdate {
    margin-bottom: 20px;
    text-align: left;
}

/** MEDIA QUERIES **/


.resume .date {
    margin-bottom: 10px;
}

.resume .block {
    margin-bottom: 40px;
}

.resume .name {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 15px;
}




/** Embed Responsively Vimeo/Youtube **/

.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 56.25%;
}

.embed-container iframe,.embed-container object,.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/** MEDIA QUERIES **/

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */

    .largetext {
        font-size: 1.8rem;
    }
    .largetext a {
        border-bottom: 2px inherit;
    }
    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    #page {
        font-size: 1rem;
    }
    #page h1 {
        font-size: 4em;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    .span3,.span4 {
        width: 50%;
    }
    #projects {
        padding: 0 10px;
    }
    header {
        padding: 20px;
    }
    [class*='offset'] {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .largetext {
        font-size: 1.2rem;
    }


    [class*='span'] {
        width: 100%;
    }

    #project h1 {
        font-size: 2em;
        text-align: left;
    }
    .projectdate {
        text-align: left;
    }
}



/* Force Project Grids to Clear */

#projects .span4:nth-child(3n+1) {
    clear: both;
}
#projects .span3:nth-child(4n+1) {
    clear: both;
}