---
---

/* Zac. Style Variables
---------------------------------------------- */

$bodycolor: #222;
$monofont: 'webmono','Roboto Mono', "Courier New", Courier, arial, helvetica, monospace;
$boldfont: 'webbold','Roboto', arial, helvetica, sans-serif; 
$normalfont: 'webregular','Roboto', arial, helvetica, sans-serif;
$fontserif: serif;
$accentcolour: blue;

/* CSS Reset
---------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Establishing Web Fonts
---------------------------------------------- */
@font-face {
    font-family: 'webregular';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/webfont.eot);
    src: url(/assets/fonts/webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/webfont.woff2) format('woff2'), url(/assets/fonts/webfont.woff) format('woff'), url(/assets/fonts/webfont.ttf) format('truetype'), url(/assets/fonts/webfont.svg#webregular) format('svg');
}

@font-face {
    font-family: 'webmono';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/mono-webfont.eot);
    src: url(/assets/fonts/mono-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/mono-webfont.woff2) format('woff2'), url(/assets/fonts/mono-webfont.woff) format('woff'), url(/assets/fonts/mono-webfont.ttf) format('truetype'), url(/assets/fonts/mono-webfont.svg#webmono) format('svg');
}

@font-face {
    font-family: 'webbold';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/bold-webfont.eot);
    src: url(/assets/fonts/bold-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/bold-webfont.woff2) format('woff2'), url(/assets/fonts/bold-webfont.woff) format('woff'), url(/assets/fonts/bold-webfont.ttf) format('truetype'), url(/assets/fonts/bold-webfont.svg#webbold) format('svg');
}

/* Base Elements
---------------------------------------------- */
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $normalfont;
    font-size: 16px;
}    

body {
    font-size: 1.2em;
    color: $bodycolor;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img,
embed,
object,
video {
    max-width: 100%;
    border: 0;
}
hr {
    display: block;
    height: 3px;
    margin: 3em 0;
    padding: 0;
    border: 0;
    border-top: 3px solid $bodycolor;
}

p {
  margin-bottom: 1em;
  line-height: 1.6;

}

.small {
    line-height: 1.3;
    margin-bottom: 20px;
    font-size: .8em;
}
.small a {
    text-decoration: none;
}
.large {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.5em;
    font-family: $monofont;
    font-weight: 700;
    max-width: 40em;
    padding: 15px;
}
.large p {
    line-height: 1.7;
}
.large a {
    border-bottom: .25vw solid white;
  text-decoration:none !important;
  padding-bottom: .25vw;

}
.large a:hover {
    border-bottom: 0px solid red!important;

}




b, strong {
    font-weight: 700;
    font-family: $boldfont;
}

a {
    text-decoration: none;
    color: $bodycolor;
}

p a {
    color: $accentcolour;
}



i, em {
  font-style: italic;
}

sup { 
    vertical-align: super;
    font-size: .6em;
}



h1, h2, h3, h4, h5, h6 {
    font-family: $boldfont;
    color: $bodycolor;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6em;
}

h5 {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: $monofont;
}

h6 {
    font-size: 2em;
}


.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}

.two-col {
    column-count: 2;
    column-gap: 40px;
}
.three-col {
    column-count: 3;
    column-gap: 40px;
}


ul {

}

li {

}

/* Main Elements Styles
---------------------------------------------- */


.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2em 2em;
}


/* SpanX based grid elements */

.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}

.row {
    margin: 0 -1em;
}

.row:after {
    clear: both;
}

[class*="span"] {
    display: block;
    float: left;
    padding: 0 1em;
    width: 100%;
    margin: 0 0 1em 0;
}

[class*="span"] img {
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
}

.span1{width:8.3333%}
.span2{width:16.666667%}
.span3{width:25%}
.span4{width:33.333%}
.span5{width:41.6667%}
.span6{width:50%}
.span7{width:58.3333%}
.span8{width:66.6667%}
.span9{width:75%}
.span10{width:83.3333%}
.span11{width:91.6667%}
.span12{width:100%}
.offset1{margin-left:8.3333%}
.offset2{margin-left:16.666667%}
.offset3{margin-left:25%}
.offset4{margin-left:33.333%}
.offset5{margin-left:41.6667%}
.offset6{margin-left:50%}
.offset7{margin-left:58.3333%}
.offset8{margin-left:66.6667%}
.offset9{margin-left:75%}
.offset10{margin-left:83.3333%}
.offset11{margin-left:91.6667%}
.offset12{margin-left:100%}

/* END -- SpanX based grid elements */



/* Primary site sections
---------------------------------------------- */


/* Header */


header {
    position: relative;
    z-index: 9998;

    width: 100%;

    padding: 1.5em;
}



.zac {
    position: relative;
    font-size: 1.3em;
    line-height: 1!important;

}

/** Expanding Nav - Credit to Alex Cican for navigation functionality **/

/* Basic Elements */

nav {
    color: $bodycolor;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
    -moz-transition: -moz-transform .4s, height .3s, background .4s;
    transition: transform .4s, height .3s, background .4s;
    -webkit-animation: firstFadeInAndDrop .5s;
    -moz-animation: firstFadeInAndDrop .5s;
    animation: firstFadeInAndDrop .5s;
}

nav a {
    text-decoration: none;
    border-bottom: 0px;
}


/* Animate Drop Down of Menu */

@-webkit-keyframes firstFadeInAndDrop {
    0% {
        -webkit-transform: translate(0, -54px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}
@-moz-keyframes firstFadeInAndDrop {
    0% {
        -moz-transform: translate(0, -54px);
    }
    100% {
        -moz-transform: translate(0, 0);
    }
}

@keyframes firstFadeInAndDrop {
    0% {
        transform: translate(0, -54px);
    }
    100% {
        transform: translate(0, 0);
    }
}
/* Attached to BODY on menu click 
.no_scroll {
    overflow: hidden;
}*/

/* increases menu width & height NAV BACK COLOUR */
nav.expanded {
    width: 100%;
    height: 100%;
    position: fixed;
    cursor: default;
    background: $accentcolour;
    z-index: 997;
    overflow: scroll;
}


/* positions navigation content */

#navigation {
    -webkit-transform: translate(0, -1000px);
    -moz-transform: translate(0, -1000px);
    -o-transform: translate(0, -1000px);
    transform: translate(0, -1000px);
    opacity: 0;
    display: none;
    -webkit-transition: -webkit-transform 5s, opacity 7s;
    -moz-transition: -moz-transform 5s, opacity 7s;
    -o-transition: -o-transform 5s, opacity 7s;
    transition: transform 5s, opacity 7s;
    color: white;
    font-family: $monofont;
}

/* shows navigation */
nav.expanded #navigation {
    -webkit-transform: translate(0, 0);
    /* hardware acceleration */
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    display: block;
    margin: 0 auto;
    z-index: 998;
    position: relative;
    width: 100%;
}
#navigation a {
    color: white;
}
#navigation a:hover {
    color: white;
}

.navigation-content-contact a:hover:after {
    border-bottom: 2px solid white;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}

#navigation h2 {
    display: inline-block
}
#navigation h2:hover:after {
    content: '.';
    color: white;
}
#navigation h2:hover:after #navigation h2 a {
    text-decoration: none;
}

/* Gives padding to expanded navigation  */

.navigation-content {
    margin: 0;
    padding: 2em;
    text-align: left;
    width: 100%;
    max-width: 35em;
}
.navigation-content p {
}
.navigation-content a {
    text-decoration: none;
    border-bottom: none;
}

.navigation-content a:hover {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

/* Bar Transition to X  */


/* Positiioning Bars  */

#nav-container {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    z-index: 999;
}
.toggle-icon {
    position: relative;
    display: block;
    width: 100%;
    margin: -.2em auto 0 .2em;
    cursor: pointer;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
}
/* Positiioning Bars  */

.toggle-icon .bar {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.5em;
    height: .3em;
    margin: .6em;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    background: $bodycolor;
    background: $accentcolour;
}

.toggle-icon .bar:nth-of-type(2) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}

.pushed .bar {
    background: white;
}

.pushed .bar:nth-of-type(2) {
    opacity: 0;
}

.pushed .bar:nth-of-type(1) {
    -webkit-transform: translateY(.9em) rotate(-135deg);
    -moz-transform: translateY(.9em) rotate(-135deg);
    -ms-transform: translateY(.9em) rotate(-135deg);
    -o-transform: translateY(.9em) rotate(-135deg);
    transform: translateY(.9em) rotate(-135deg);
}

.pushed .bar:nth-of-type(3) {
    -webkit-transform: translateY(-.9em) rotate(-45deg);
    -moz-transform: translateY(-.9em) rotate(-45deg);
    -ms-transform: translateY(-.9em) rotate(-45deg);
    -o-transform: translateY(-.9em) rotate(-45deg);
    transform: translateY(-.9em) rotate(-45deg);
}


/** END -- Header **/


/** FOOTER **/

footer {
    width: 100%;
    background: $bodycolor;
    position: relative;
    color: white;
    font-size: .9em;
}

footer a {
    color: $accentcolour;
}

footer .content {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Background Imaged Span Types
---------------------------------------------- */


/** Landing Page Fullscreen Background **/

.background {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Full Width Header Image - 'Page' layout  */
.wide-header {
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.wide-header:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.wide-header-space {
    margin-top: 80px;
}

/* Full Width Header Image - 'Page' layout  */
.square-person {
    overflow: hidden;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.square-person:after {
    display: block;
    padding-bottom: 80%;
    content: '';
}
.next-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.next-wrapper:after {
    display: block;
    padding-bottom: 35%;
    content: '';
}
.next-project-name {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    transform: translateY(-50%);
}
.next-project-name h4 {
    color: white;
}

/* Individual Pages Styles - to be worked on
---------------------------------------------- */

/** index.html **/


.index-button {
    position: absolute;
    padding: .9em 1.8em;
    margin: 0 auto;
    background: $accentcolour;
    color: white;
    border: 4px solid $accentcolour;
    bottom: 0;
    left: 0;
}
.index-button h4 {
    color: white;
}
.index-button:hover {
    text-decoration: underline;
}

/* projects.html */

.project-grid {
    background: $bodycolor;
    margin-top: 0px;
    position: relative;
    color: white;
}
.project-grid h3 {
    margin: 0;
    color: white;

}

.project-grid-item {
    position: relative;
    margin-bottom: 0;
    padding: 0 !important;
    overflow: hidden;
    background-color: $accentcolour;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.project-grid-item img {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.project-grid-item:after {
    display: block;
    padding-bottom: 75%;
    content: '';
}

.project-grid-title {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: 25px;
    opacity: 0;
    color: white;
}

.project-grid-item:hover .project-grid-title {
    display: block;
    opacity: 1;
    transform: translateY(-30px);
    -webkit-transition-property: transform, opacity;
    -webkit-transition-duration: 500ms;
}

.project-grid-item:hover {
    opacity: 50%;
}

/* project.html template */

#project {
    margin-top: 60px
}


.project-content {
    max-width: 40em;
    margin: 0 auto 3em auto;
}

.project-content p {
    hyphens: auto;
}
.project-content a {
    color: $accentcolour;
}


/* page.html template */

#resume {
    max-width: 35em;
}


#page h3 {
    color: white;
    background: $accentcolour;
    display: inline-block;
    outline: 2px solid $accentcolour;
    padding: .15em .5em;
    margin-top: 60px;
    margin-bottom: 60px;
}

#page h3:after {
    clear: both;
}

#page h4 {
        margin-bottom: 5px;
}
/* resume.html */

.resume-item {
    margin-bottom: 2.5em;
}





/* External CSS Sources
---------------------------------------------- */


/* Vimeo / Youtube responsive embed */
.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Flickity v2.0.8 */

.main-carousel {
    margin-bottom: 1em;
}


.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative!important;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
    position: absolute;
    bottom: 0em;
    color: white;
    width: 44px;
    height: 44px;
    border: none;
    background: $bodycolor;
    cursor: pointer;
    border-radius: 0px;
    /* vertically center SHOULD USE THIS OTHER PLACES TO CENTER */

}

.flickity-prev-next-button:hover {
}

.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
    /* opacity: 0.6; */
}

.flickity-prev-next-button.previous {
    left: 0em;
}

.flickity-prev-next-button.next {
    right: 0em;
}

.flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
}

.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
        color: white;
}

.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button:hover .arrow {
    fill: white;
}

.flickity-prev-next-button:hover {

}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 100%;
    margin: 0;
    background: #EEE;
    counter-increment: carousel-cell;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Set slider height with padding-bottom */
.carousel-cell:after {
    display: block;
    padding-bottom: 66%;
    content: '';
}


/* End Flickity */
/* End External CSS */







/** MEDIA QUERIES **/

@media only screen and (max-width: 1200px) {
    /* tablets and desktop */
    body {
      font-size: 1.2em;
    }

    .span3 {
        width: 33.33%;
    }
    .span4 {
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    /* tablets and desktop */
    body {
      font-size: 1.2em;
    }

    .span3 {
        width: 33.33%;
    }
    .span4 {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    body {
      font-size: .9em;
    }


    p {

    }
    .span4 {
        width: 100%;
    }
    .span3 {
        width: 50%;
    }

    [class*='offset'] {
        margin-left: 0;
    }


    /* projects styles */
    .project-grid-title {
        font-family: $boldfont;
        position: absolute;
        z-index: 10;
        bottom: 15px;
        left: 25px;
        opacity: 1;
        color: #fff;
    }
    .project-grid-item:hover .project-grid-title {
        display: block;
        opacity: 1;
        transform: translateY(0px);
        -webkit-transition-property: transform, opacity;
        -webkit-transition-duration: 500ms;
    }

    .project-grid-item:hover {
        opacity: 50%;
    }
}





@media only screen and (max-width: 480px) {
    body {
        font-size: .8em;
    }

    .two-col {
        column-count: 1;
        column-gap: 0px;
    }
    [class*='span'] {
        width: 100%;
    }
    .project-details .span6 {
        width: 50%
    }
    h1 {
        text-align: left;
    }
    h2 {
    }

    h3 {
    }
    h4 {
    }

    h5 {
        text-align: left;
    }

    .next-wrapper {}


    .next-wrapper:after {
        padding-bottom: 50%;
    }
    /* index.html styles */

    .index-button {
        position: absolute;
        padding: 15px;
        margin: 0 auto;
        color: white;
        border: 4px solid $accentcolour;
        width: 100%;
        text-align: center;
    }



}