/* SCSS Variables
---------------------------------------------- */
/* CSS Reset
---------------------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Establishing Web Fonts
---------------------------------------------- */
@font-face {
  font-family: 'webregular';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/webfont.eot);
  src: url(/assets/fonts/webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/webfont.woff2) format("woff2"), url(/assets/fonts/webfont.woff) format("woff"), url(/assets/fonts/webfont.ttf) format("truetype"), url(/assets/fonts/webfont.svg#webregular) format("svg"); }
@font-face {
  font-family: 'webmono';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/mono-webfont.eot);
  src: url(/assets/fonts/mono-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/mono-webfont.woff2) format("woff2"), url(/assets/fonts/mono-webfont.woff) format("woff"), url(/assets/fonts/mono-webfont.ttf) format("truetype"), url(/assets/fonts/mono-webfont.svg#webmono) format("svg"); }
@font-face {
  font-family: 'webbold';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/bold-webfont.eot);
  src: url(/assets/fonts/bold-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/bold-webfont.woff2) format("woff2"), url(/assets/fonts/bold-webfont.woff) format("woff"), url(/assets/fonts/bold-webfont.ttf) format("truetype"), url(/assets/fonts/bold-webfont.svg#webbold) format("svg"); }
/* Design + Make Base Styles
---------------------------------------------- */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", "webregular", "HK Grotesk", "Roboto", arial, helvetica, sans-serif; }

html {
  font-size: 18px; }

body {
  color: #222;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

* {
  margin: 0;
  padding: 0; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img, embed, object, video {
  max-width: 100%;
  border: 0; }

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid #222;
  margin: 0 0 2.5rem 0;
  padding: 0; }

p {
  margin-bottom: 1.2em;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #222; }

p a {
  color: blue; }

.small {
  line-height: 1.3;
  margin-bottom: 1em;
  font-size: .75em; }

.small a {
  text-decoration: none; }

.large {
  line-height: 1.3;
  margin: 0 auto;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  font-size: 1.6em;
  font-family: "Roboto", "HK Grotesk", arial, helvetica, sans-serif;
  font-weight: 700;
  padding: 1.2rem 0; }

.large a {
  border-bottom: 3px #222 solid;
  text-decoration: none !important;
  color: #222; }

.large a:hover {
  border-bottom: 0px #222 solid; }

b,
strong {
  font-weight: 700;
  font-family: "Roboto", "HK Grotesk", arial, helvetica, sans-serif; }

i, em {
  font-style: italic; }

sup {
  vertical-align: super;
  font-size: .6em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "HK Grotesk", arial, helvetica, sans-serif;
  color: #222;
  font-weight: 700; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #222;
  text-decoration: none; }

h1 {
  font-size: 3.5em;
  margin-bottom: 2.5rem; }

h2 {
  font-size: 2.4em;
  margin-bottom: 1.2rem; }

h3 {
  font-weight: 700;
  font-size: 1.8em; }

h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Roboto", "webregular", "HK Grotesk", "Roboto", arial, helvetica, sans-serif;
  font-weight: 400; }

h5 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; }

h6 {
  font-size: 1em; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

img {
  margin-bottom: 1.2rem; }

ul {
  list-style-type: none;
  padding: 0; }

/* Column and Grid Styling
---------------------------------------------- */
.row:before, .row:after {
  display: table;
  line-height: 0;
  content: ""; }

.row {
  margin: -0.6rem; }

.row:after {
  clear: both; }

[class*='span'] {
  display: block;
  float: left;
  padding: 0 0.6rem;
  width: 100%;
  margin-bottom: 0.6rem; }

[class*='span'] img {
  height: auto;
  padding: 0;
  width: 100%; }

.span1 {
  width: calc(1/12*100%); }

.span2 {
  width: calc(2/12*100%); }

.span3 {
  width: calc(3/12*100%); }

.span4 {
  width: calc(4/12*100%); }

.span5 {
  width: calc(5/12*100%); }

.span6 {
  width: calc(6/12*100%); }

.span7 {
  width: calc(7/12*100%); }

.span8 {
  width: calc(8/12*100%); }

.span9 {
  width: calc(9/12*100%); }

.span10 {
  width: calc(10/12*100%); }

.span11 {
  width: calc(11/12*100%); }

.span12 {
  width: calc(12/12*100%); }

/* Primary Elements
---------------------------------------------- */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 85vh;
  height: auto !important; }

.container .content {
  max-width: 1200px; }

/* basic content provides only padding */
.content {
  margin: 0px auto;
  padding: 0 4.2rem;
  z-index: 10; }

/* FOOTER
---------------------------------------------- */
footer {
  background: #222;
  color: grey;
  padding: 2.5rem 0 2.5rem 0;
  text-align: left;
  font-size: .9rem; }

footer [class*='span'] {
  margin-bottom: 0px; }

footer a {
  color: white;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }

footer ul {
  text-transform: uppercase;
  margin: 0 auto; }

footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 1.2rem; }

footer li:first-child {
  padding-left: 0px; }

footer li:last-child {
  padding-right: 0px; }

footer .content {
  margin-bottom: 0px;
  padding-bottom: 0px; }

/* HEADER
---------------------------------------------- */
header {
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }

.title-small {
  font-family: "HK Grotesk", "Roboto Mono", "Courier New", Courier, arial, helvetica, monospace;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  color: #222;
  background: blue;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 20px 20px;
  margin: 0;
  line-height: 0;
  width: 15em; }

.title-small a {
  font-family: "HK Grotesk", "Roboto Mono", "Courier New", Courier, arial, helvetica, monospace;
  text-decoration: none;
  color: #222; }

/* Opening Navigation - credits to Alex Cican for underlying functionality */
nav {
  color: #222;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  cursor: pointer;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
  -moz-transition: -moz-transform .4s, height .3s, background .4s;
  transition: transform .4s, height .3s, background .4s;
  -webkit-animation: firstFadeInAndDrop .5s;
  -moz-animation: firstFadeInAndDrop .5s;
  animation: firstFadeInAndDrop .5s; }

nav a {
  text-decoration: none;
  border-bottom: 0px; }

/* Animate Drop Down of Menu */
@-webkit-keyframes firstFadeInAndDrop {
  0% {
    -webkit-transform: translate(0, -54px); }
  100% {
    -webkit-transform: translate(0, 0); } }
@-moz-keyframes firstFadeInAndDrop {
  0% {
    -moz-transform: translate(0, -54px); }
  100% {
    -moz-transform: translate(0, 0); } }
@keyframes firstFadeInAndDrop {
  0% {
    transform: translate(0, -54px); }
  100% {
    transform: translate(0, 0); } }
/* increases menu width & height NAV BACK COLOUR */
nav.expanded {
  width: 100%;
  height: 100%;
  cursor: default;
  background: blue;
  z-index: 997;
  overflow: scroll; }

/* positions navigation content */
#navigation {
  -webkit-transform: translate(0, -1000px);
  -moz-transform: translate(0, -1000px);
  -o-transform: translate(0, -1000px);
  transform: translate(0, -1000px);
  opacity: 0;
  display: none;
  -webkit-transition: -webkit-transform 5s, opacity 7s;
  -moz-transition: -moz-transform 5s, opacity 7s;
  -o-transition: -o-transform 5s, opacity 7s;
  transition: transform 5s, opacity 7s;
  color: white;
  margin: 0;
  padding-top: 4.2rem; }

/* shows navigation */
nav.expanded #navigation {
  -webkit-transform: translate(0, 0);
  /* hardware acceleration */
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  display: block;
  margin: 0;
  z-index: 998;
  position: relative;
  width: 100%; }

#navigation a {
  color: white; }
#navigation a:hover {
  text-decoration: underline; }
#navigation h1 {
  text-align: left;
  margin-bottom: 1.2rem;
  color: blue; }
#navigation h1 a {
  color: #fff; }
#navigation .large a {
  color: #fff;
  border-bottom: 0; }
#navigation .large a:hover {
  color: red; }

/* Gives padding to expanded navigation  */
.navigation-block {
  margin-bottom: 1.2rem; }

/* SUB NAVIGATION ON FULL SCREEN NAV  */
.submenu {
  margin: 0 0 2.5rem 0;
  text-align: left;
  width: 100%;
  text-transform: uppercase; }

.submenu a {
  text-decoration: none;
  border-bottom: none; }

.submenu ul {
  list-style: none; }

.submenu li {
  display: inline-block;
  margin-right: 2.5rem; }

.submenu li:last-of-type {
  margin-right: 0; }

/* Bar Transition to X  */
#nav-container {
  position: fixed;
  top: 1.2rem;
  right: 2.5rem;
  margin: 0;
  z-index: 999; }

.toggle-icon {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  cursor: pointer;
  -webkit-transition: margin 600ms;
  -moz-transition: margin 600ms;
  transition: margin 600ms; }

/* Positiioning Bars  */
.toggle-icon .bar {
  display: block;
  width: 3em;
  height: .3em;
  margin-bottom: .6em;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  transition-duration: 600ms;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow;
  background: blue; }

.toggle-icon .bar:nth-of-type(3) {
  margin-bottom: 0; }

.toggle-icon .bar:nth-of-type(2) {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms; }

.pushed .bar {
  background: white; }

.pushed .bar:nth-of-type(2) {
  opacity: 0; }

.pushed .bar:nth-of-type(1) {
  -webkit-transform: translateY(0.9em) rotate(-135deg);
  -moz-transform: translateY(0.9em) rotate(-135deg);
  -ms-transform: translateY(0.9em) rotate(-135deg);
  -o-transform: translateY(0.9em) rotate(-135deg);
  transform: translateY(0.9em) rotate(-135deg); }

.pushed .bar:nth-of-type(3) {
  -webkit-transform: translateY(-0.9em) rotate(-45deg);
  -moz-transform: translateY(-0.9em) rotate(-45deg);
  -ms-transform: translateY(-0.9em) rotate(-45deg);
  -o-transform: translateY(-0.9em) rotate(-45deg);
  transform: translateY(-0.9em) rotate(-45deg); }

/* Shrink Title on scroll */
.shrink {
  width: 200px; }

.no_scroll {
  overflow: hidden; }

/* End source navigation */
/* On page navigation  */
.page-menu {
  padding-bottom: 2.5rem; }

.page-menu a {
  text-decoration: none;
  border-bottom: none; }

.page-menu ul {
  list-style: none; }

.page-menu h1 {
  margin-bottom: 0px; }

.page-menu li {
  margin-right: 30px;
  display: inline-block;
  float: left; }

/* Styles for Project layout */
.project-content {
  margin: 0 auto; }

.project-details {
  padding: 2.5rem 0; }

button {
  margin: 0 !important; }

/** Filtering Projects Menu by Category **/
.btn {
  background: transparent;
  text-decoration: none;
  cursor: hand;
  border: none;
  margin: 0 !important;
  color: black; }

.btn:hover {
  text-decoration: underline; }

.active {
  text-decoration: underline; }

.project-filters {
  font-family: "HK Grotesk", "Roboto Mono", "Courier New", Courier, arial, helvetica, monospace;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 0px;
  z-index: 100;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222; }

.project-filters ul {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-align: center; }

.project-filters li:hover {
  border-bottom: 3px solid #222;
  text-decoration: none; }

.project-filters li {
  display: inline-block;
  margin: 0 !important;
  text-transform: uppercase;
  font-family: "HK Grotesk", "Roboto Mono", "Courier New", Courier, arial, helvetica, monospace; }

.project-filters .active {
  border-bottom: 3px solid #222;
  text-decoration: none; }

.project-filters .btn {
  padding: 16px 20px;
  text-transform: uppercase;
  margin: 0 !important; }

.ae-select {
  display: none;
  border-bottom: 2px solid #222; }

/* Generic Background Image */
.background-image-span {
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important; }

.background-image-span:after {
  display: block;
  padding-bottom: 75%;
  content: ''; }

.background-image-span img {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0; }

.background-image-span h1, .background-image-span h2, .background-image-span h3, .background-image-span h4, .background-image-span h5, .background-image-span h6 {
  margin: 0; }

/* Styles for People layout */
.general-background:after {
  content: "";
  display: block;
  padding-bottom: 80%; }

.general-background h2, .general-background h3 {
  opacity: 1;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 20px;
  margin-bottom: 0; }

/* Full Width Header Image - 'Page' layout  */
.wide-header {
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  margin-bottom: 3em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.wide-header:after {
  content: "";
  display: block;
  padding-bottom: 50%; }

/* Special for Projects Page */
/* Projects Page Grid */
.project-grid {
  margin-top: 0px; }

.project-grid [class*='span'] {
  margin: 0;
  padding: 0; }

.next-project:after, .prev-project:after {
  display: block;
  padding-bottom: 60%;
  content: ''; }

.project-grid-item h2, .project-grid-item h3 {
  z-index: 10;
  opacity: 0;
  position: absolute;
  color: white;
  line-height: 1;
  bottom: -15px;
  left: 25px; }

.project-grid-item:hover h2, .project-grid-item:hover h3 {
  display: block;
  opacity: 1;
  transform: translateY(-30px);
  -webkit-transition-property: transform, opacity;
  -webkit-transition-duration: 500ms; }

/* Styles for People Page Grid - Can this be made more universal?? */
.team-grid-item {
  background-color: #f1f1f1;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative; }

.team-grid-item:after {
  padding-bottom: 90%; }

.team-grid-title {
  position: absolute;
  bottom: 5%;
  left: 0px;
  background: #222;
  color: white;
  padding: 8px 16px;
  font-family: "HK Grotesk", "Roboto Mono", "Courier New", Courier, arial, helvetica, monospace; }

/* remove blue hover on Chrome */
button:focus {
  outline: 0; }

.small-grey-button {
  background: transparent;
  border: 2px solid #222;
  text-align: center;
  padding: 20px;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1em; }

.small-grey-button:hover {
  background: #f1f1f1; }

.small-grey-button:last-of-type {
  margin-right: 0; }

.grey-button {
  background: #f1f1f1;
  border: 2px solid #222;
  text-align: left;
  padding: 1em;
  font-weight: normal;
  margin: 0;
  margin: 1.5em auto; }

.grey-button h2 {
  margin: 0; }

.grey-button:hover a {
  text-decoration: underline; }

/* EXTERNAL CSS SOURCES
---------------------------------------------- */
/* Embed Responsively Vimeo */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 2.5rem; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*! Flickity v2.0.8 */
.main-carousel {
  margin-bottom: 30px;
  background: #EEE; }

.carousel-cell {
  width: 100%;
  margin-right: 0px;
  background: #fff;
  counter-increment: carousel-cell;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }

.carousel-cell:after {
  display: block;
  padding-bottom: 66%;
  content: ''; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative !important;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  bottom: 0px;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 2px solid white;
  border-radius: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  /* opacity: 0.6; */ }

.flickity-prev-next-button.previous {
  left: 15px; }

.flickity-prev-next-button.next {
  right: 15px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: white; }

.flickity-prev-next-button:hover .arrow {
  fill: black; }

.flickity-prev-next-button:hover {
  background: white; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1;
  background: black; }

/* Testing Zone
---------------------------------------------- */
/* Separate out grayscale filter */
.blacked {
  filter: grayscale(100); }

.blacked:hover {
  filter: grayscale(0); }

/* Country Flags - Image Inline HTML - Credits to: ... TBC */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; }

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em; }

.flag-icon:before {
  content: "\00a0"; }

/* Inverted div */
.inverted {
  background: #222; }
  .inverted p,
  .inverted .large,
  .inverted h1,
  .inverted h2,
  .inverted h3,
  .inverted h4,
  .inverted h5,
  .inverted h6,
  .inverted p a,
  .inverted .large a {
    color: #fff; }
  .inverted a {
    border-bottom: 1px white solid; }
  .inverted a:hover {
    border-bottom: 0px white solid; }
  .inverted .large a {
    border-bottom: 3px white solid; }
  .inverted .large a:hover {
    border-bottom: 0px white solid; }

/* DM patterning */
.hatch {
  background: repeating-linear-gradient(-45deg, yellow, yellow 10px, #222 10px, #222 20px);
  height: 1.2rem;
  width: 100%; }

/* Announcement Banners */
.banner {
  width: 100%;
  text-align: center;
  background: #f1f1f1;
  color: #222;
  margin: 0 auto;
  padding: 0.6rem; }
  .banner h2, .banner h3, .banner h4 {
    margin: 0; }
  .banner a, .banner h2, .banner h3, .banner h4 {
    color: inherit; }

.banner:hover {
  color: #f1f1f1;
  background: blue; }
  .banner:hover a, .banner:hover h2, .banner:hover h3, .banner:hover h4 {
    color: #f1f1f1; }

/* Zac Special */
.two-col {
  column-count: 2;
  column-gap: 40px; }

.three-col {
  column-count: 3;
  column-gap: 40px; }

.offset1 {
  margin-left: 8.3333%; }

.offset2 {
  margin-left: 16.666667%; }

.offset3 {
  margin-left: 25%; }

.offset4 {
  margin-left: 33.333%; }

.offset5 {
  margin-left: 41.6667%; }

.offset6 {
  margin-left: 50%; }

.offset7 {
  margin-left: 58.3333%; }

.offset8 {
  margin-left: 66.6667%; }

.offset9 {
  margin-left: 75%; }

.offset10 {
  margin-left: 83.3333%; }

.offset11 {
  margin-left: 91.6667%; }

.offset12 {
  margin-left: 100%; }

.zac {
  position: relative;
  font-size: 1.3em;
  line-height: 1 !important;
  padding: 0.6rem;
  margin: 0 !important; }

#resume h3 {
  margin-bottom: 1em;
  margin-top: 2em; }
#resume h4 {
  margin-bottom: .5em; }
#resume .resume-item {
  padding-bottom: .75em; }

/* Responsive */
@media only screen and (max-width: 1200px) {
  .span4 {
    width: 50%; } }
/* Responsive */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px; }

  .span3 {
    width: 33.33%; }

  .span4 {
    width: 50%; } }
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px; }

  .content {
    padding: 0 2.5rem; }

  .row {
    padding: 0; }

  .span3 {
    width: 50%; }

  .more-items .span6 {
    width: 100%; }

  .project-details .span4 {
    width: 50%; }

  /* WORKING ON PROJECT FILTERS */
  .project-filters .ae-select {
    padding: 8px;
    position: relative;
    display: block; }

  .project-filters .ae-select.chosen {
    color: #222; }

  .ae-select .up-icon,
  .project-filters .ae-select .down-icon {
    position: absolute;
    right: 8px;
    top: 7px; }

  .project-filters .ae-dropdown .ae-select,
  .project-filters .ae-dropdown .dropdown-menu > li {
    cursor: pointer; }

  /* LI begin hidden */
  .ae-hide {
    display: none; }

  .project-filters ul {
    list-style-type: none;
    margin: 0 auto; }

  .project-filters li {
    padding: 5px 0;
    display: block;
    border: none !important; }

  /* END project filter */
  .prev-project:after {
    display: none; }

  /* expanded menu on mobile*/
  .submenu ul {
    list-style: none;
    margin: 0; }

  .submenu li {
    padding-right: 0;
    padding-left: 0;
    display: block;
    margin: 0; }

  .submenu a {
    margin-bottom: 8px;
    float: left;
    width: 100%; } }
@media only screen and (max-width: 480px) {
  html {
    font-size: 13px; }

  footer {
    text-align: center; }

  footer ul {
    margin: 0 auto; }

  footer li {
    padding: 0 1.2rem;
    text-align: left; }

  h1 {
    text-align: left;
    font-size: 2.2em; }

  h4 {
    font-size: 1em;
    text-align: left !important; }

  hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid #222;
    margin: 0 0 10px;
    padding: 0; }

  [class*='span'] {
    width: 100%; }

  .title-small {
    width: 200px; }

  /* Hide the Page navigation at certain scale*/
  .project-grid-item h2, .project-grid-item h3 {
    bottom: 15px;
    opacity: 1; }

  .project-grid-item:hover h2, .project-grid-item:hover h3 {
    transform: translateY(0px); }

  .wide-header-space {
    margin-top: 60px; }

  .wide-header {
    min-height: 400px; }

  .wide-header:after {
    padding-bottom: 40%; }

  /* Flickity */
  .main-carousel {
    margin-bottom: 15px; }

  .carousel-cell {
    width: 100%;
    margin-right: 0;
    background: #fff;
    counter-increment: carousel-cell;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; }

  .carousel-cell:after {
    display: block;
    padding-bottom: 75%;
    content: ''; }

  .flickity-prev-next-button {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: 2px solid white;
    border-radius: 0;
    /* vertically center SHOULD USE THIS OTHER PLACES TO CENTER */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F; }

  .flickity-prev-next-button:active {
    /* opacity: 0.6; */ }

  .flickity-prev-next-button.previous {
    left: 15px; }

  .flickity-prev-next-button.next {
    right: 15px; }

  .flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto; }

  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%; }

  .flickity-prev-next-button .arrow {
    fill: white; }

  .flickity-prev-next-button:hover .arrow {
    fill: #222; }

  .flickity-prev-next-button:hover {
    background: white; } }
