---
# Front matter
---

/* sass */





$bodycolor: #363636;
$themecolor: #c00;
$seriffontstack: 'Source Serif Pro', serif;
$sansseriffontstack:  'webregular', 'Open Sans', arial, helvetica;
$sansseriffontstackbold: 'webbold', 'Open Sans', arial, helvetica;

/* good RED #F90E1E */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Fonts */

@font-face {
    font-family: 'webregular';
    src: url(/assets/fonts/webfont.eot);
    src: url(/assets/fonts/webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/webfont.woff2) format("woff2"), url(/assets/fonts/webfont.woff) format("woff"), url(/assets/fonts/webfont.ttf) format("truetype"), url(/assets/fonts/webfont.svg#webregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'webmono';
    src: url(/assets/fonts/mono-webfont.eot);
    src: url(/assets/fonts/mono-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/mono-webfont.woff2) format("woff2"), url(/assets/fonts/mono-webfont.woff) format("woff"), url(/assets/fonts/mono-webfont.ttf) format("truetype"), url(/assets/fonts/mono-webfont.svg#webmono) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'webbold';
    src: url(/assets/fonts/bold-webfont.eot);
    src: url(/assets/fonts/bold-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/bold-webfont.woff2) format("woff2"), url(/assets/fonts/bold-webfont.woff) format("woff"), url(/assets/fonts/bold-webfont.ttf) format("truetype"), url(/assets/fonts/bold-webfont.svg#webbold) format("svg");
    font-weight: 400;
    font-style: normal;
}


/* Site Styles */

body,
html {
    margin: 0;
    padding: 0;
    font-family: $sansseriffontstack;
}

body {
    color: #222;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
}

* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img,
embed,
object,
video {
    max-width: 100%;
    border: 0;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #000;
    margin: 3em 0;
    padding: 0;
}


p {
    margin-bottom: 30px;
    line-height: 1.6;

}

b,
strong {
    font-weight: 700;
}

a {
    color: #000;
    text-decoration: none;
}

.content a {
    color: #4649ff;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sansseriffontstackbold;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    font-family: $sansseriffontstack;
    font-weight: normal;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
}

h5 {
    font-size: 2em;
    font-weight: 700;
}

h6 {
    font-size: 2em;
    font-weight: 700;
}

.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}

ul {

}

li {

}


/* Main Elements */

.container {
    margin: 100px auto 0;
    padding: 0;
    width: 100%;
}

footer .container {
    margin-top:50px;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}

.row {
    margin: 0 -12px;
}

.row:after {
    clear: both;
}

[class*='span'] {
    display: block;
    float: left;
    padding: 0 12px;
    width: 100%;
    margin-bottom: 2%;
}

[class*='span'] img {
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
}

.span1{width:8.3333%}
.span2{width:16.666667%}
.span3{width:25%}
.span4{width:33.333%}
.span5{width:41.6667%}
.span6{width:50%}
.span7{width:58.3333%}
.span8{width:66.6667%}
.span9{width:75%}
.span10{width:83.3333%}
.span11{width:91.6667%}
.span12{width:100%}
.offset1{margin-left:8.3333%}
.offset2{margin-left:16.666667%}
.offset3{margin-left:25%}
.offset4{margin-left:33.333%}
.offset5{margin-left:41.6667%}
.offset6{margin-left:50%}
.offset7{margin-left:58.3333%}
.offset8{margin-left:66.6667%}
.offset9{margin-left:75%}
.offset10{margin-left:83.3333%}
.offset11{margin-left:91.6667%}
.offset12{margin-left:100%}



/** Header **/

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 60px;
    z-index: 9999;
    font-size: 1rem;
}

.title-small {
    font-family: $sansseriffontstackbold;
    font-size: 2em;
    display: block;
    float: left;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    z-index: 9999;
}

nav {
    display: block;
    color: #000;
    font-family: 'webmono';
    font-size: 1em;
    z-index: 9999;
    float: right;
}

nav a {
    color: #000;
}

nav ul {
    margin-top: .4em;
    width: 100%;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 0px 0 20px;
}

nav ul li.sel {
    border-bottom: 1px solid #000;
}


/** FOOTER **/

footer {
    font-size: .8rem;
    width: 100%;
}

footer a {
    color: #000;
}

.copyright {
    font-size: 1em;
    font-family: 'webmono';
}


/** TEMP FULL SCREEN PROJECT **/

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
}

.title {
    position: absolute;
    display: block;
    font-size: 6rem;
    font-family: $sansseriffontstackbold;
    line-height: 5rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0 20px;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    z-index: 999;
}







/** Customise Body Text on ABOUT Page **/


.largetext {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    color: #fff;
    font-family: 'webmono';
}

.largetext a {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.largetext a:hover {
    color: #F90E1E;
    border-bottom: 3px solid red;
}





/** Project Index **/

.project-grid {
    margin-bottom: 0px;
    position: relative;
}

.project-grid img {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.project-date {
    font-size: .6em;
    font-family: 'webmono' !important;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #000;
    color: #898989;
}

.project-title {
    font-family: $sansseriffontstack;
    z-index: 10;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    color: #000;
}

.project-title h2 {
    color: #4649ff;
}

.project-caption {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 15px;
}



/** Project Page **/

#project h1 {
    text-align: left;
    font-size: 4em;
}

#project img {
    margin-bottom: 2%;
}

#page ul {
    margin-left: 30px;
}

#page li {
    margin-bottom: 10px;
}

#page h1 {
    font-size: 5em;
}

.projectdate {
    text-align: left;
    margin-bottom: 20px;
}


/** MEDIA QUERIES **/

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */

    .largetext {
        font-size: 1.8rem;
    }
    .largetext a {
        border-bottom: 2px inherit;
    }

    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    #page {
        font-size: 1rem;
    }
    #page h1 {
        font-size: 4em;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    .span3,
    .span4 {
        width: 50%;
    }
    #projects {
        padding: 0 10px;
    }
    header {
        padding: 20px;
    }
    [class*='offset'] {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 480px) {

    .largetext {
        font-size: 1.2rem;
    }


    [class*='span'] {
        width: 100%;
    }
    #project h1 {
        font-size: 2em;
        text-align: left;
    }
    .projectdate {
        text-align: left;
    }
}

































.project:hover .square-person {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-image: none!important;

}

.project:hover .project-title {
display:block;
}



.square-person {
  overflow:hidden;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;


}

.square-person:after {
  content: "";
  display: block;
  padding-bottom: 75%;
}




/* Force Project Grids to Clear */

#projects .span4:nth-child(3n+1){
clear:both;
}

#projects .span3:nth-child(4n+1){
clear:both;
}







