<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>
  <body>
	  
	  {% include header.html %}
    
	
	
	<div class="container">
	
    <div id="projects">
		

	
	{{ content }}
	
	
	
    </div>
	
</div>
	
  {% include footer.html %}
	
	
    
  </body>
</html>
