---
layout: default
---


<div class="container">
    <div id="project">
        <div class="content">
            <h5 class="tc">Year: {{ page.year }}</h5> {% if page.name %}
            <h1 class="tc project-title">{{ page.name }}</h1>{% else %}
            <h1 class="tc project-title">{{ page.title }}</h1>{% endif %}
            <div class="project-content">

                {{ content }}
                
                <div style="clear:both;"></div>


                {% if page.team or page.link %}{% include project-details.html %}{% endif %}
            </div>
        </div>
        <!--Add next/previous projects -->
        {% include next-prev-project.html %}
    </div>
</div>