<!doctype html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<style>

  .title-small, .title-small a, nav, nav a {
  color: #fff;    
  }



</style>



  </head>
  
  <body>


  
	  
	  {% include header.html %}
    
	  

<div class="background" style="background-image:url('/assets/{{ page.name }}/cover.jpg')"><div class="title" style="">
      {{ page.title }}
    </div></div>


    
	
  <div class="container">


<div id="project">
 
  <div class="content">


{{ content }}
	
  </div>
	
  {% include footer.html %}
	
	
    </div>
    </div>
  </body>
</html>
