---
layout: default
---
<div class="container">
    <div id="project">
        <div class="content">
                            <div class="row">
                            <div class="span12">
                        <h5 class="tc">Year: {{ page.year }}</h5>

            {% if page.name %}

            <h1 class="tc project-title">{{ page.name }}</h1>{% else %}
            <h1 class="tc project-title">{{ page.title }}</h1>{% endif %}
            <!-- Testing Out Autobuilt Slider for Projects Need to have alternative case if there is only one image. -->
            <script src="/assets/flickity/flickity.js"></script>
            <div class="main-carousel" data-flickity='{ "pageDots": false, "wrapAround": true, "pauseAutoPlayOnHover": true, "autoPlay": 2000, "imagesLoaded": true, "bgLazyLoad": 1 }'>
                {% capture project-path %}/assets/projects/{{ page.title | slugify }}{% endcapture %} {% for image in site.static_files %} {% if image.path contains project-path %}{% unless image.path contains 'thumb' %}
                <div class="carousel-cell" style="background-image: url({{ image.path }})"></div>
                {% endunless %}{% endif %}{% endfor %}
            </div>
        </div>

            <div class="project-content">
                    <div class="span12">
                {{ content }}


                {% if page.video %}
                {% for video in page.video %}
                <div class="embed-container">
                    <iframe src='http://player.vimeo.com/video/{{ video }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                {% endfor %}
                {% endif %}

            </div>

                        {% if page.team %}
                        <div class="span6">
                            <h4>Team</h4>
                            <p class="small">
                                {% for person in page.team %} {% if site.data.collaborators[person].link %}
                                <a href="{{ site.data.collaborators[person].link }} ">{{ person }}</a> {% else %} {{ person }} {% endif %} {% if forloop.last == false %}
                                <br>{% endif %} {% endfor %}
                            </p>
                        </div>
                        {% endif %}
                        <div class="span6">
                            {% if page.link %}
                            <h4>Info</h4>
                            <p class="small">
                                <a href="http://{{ page.link }} ">{{ page.link}}</a>
                            </p>
                            {% endif %}
                        </div>
            </div>
        </div>
</div>



        <!--Add next/previous projects -->
        <div class="project-footer ">
            {% if page.next.url %}
            <div style="background: blue;">
            <a href="{{ page.next.url }}">
                <div class="next-wrapper" style="background-image: url(/assets/projects/{{ page.next.title | slugify }}/thumb.gif); ">
                    <div class="next-project-name ">
                        <h4>{{ page.next.title }}</h4>
                    </div>
                </div>
            </a>
            </div>
            {% else %}
            <div style="background: blue;">
            <a href="/projects/">
                <div class="next-wrapper" style="background: blue;">
                    <div class="next-project-name ">
                        <h4>Project index</h4>
                    </div>
                </div>
            </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>