---
layout: default
title: Projects
permalink: /projects/
---


<div class="project-grid">

    {% assign sorted_pages = site.projects | sort:"order" %}
    {% for project in sorted_pages %}
        <a href="{{ project.url }}">

            <div class="span4 project-grid-item" style="background-image: url(/assets/projects/{{ project.title | slugify }}/thumb.gif);">
                <div class="project-grid-title">
                    {% if project.name %}
                    <h3>{{ project.name }}</h3>
                    {% else %}
                    <h3>{{ project.title }}</h3>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}

        <a href="/about">

            <div class="span4 project-grid-item" style="background-image: url(/assets/zac.jpg);">
                <div class="project-grid-title">
                    <h3>About Zac.</h3>
                </div>
            </div>
        </a>



<div style="clear:both;"></div>
</div>