---
layout: page-inverted
title: Resume
permalink: /resume/
---



<div style="max-width: 640px;">
    <div class="row">
        <div class="span12 large">
            <p>Zachary Mollica is a 26 year old Canadian architect and maker currently working full time as a Studio Tutor for the Architectural Association's M.Arch Design + Make programme.</p>
            <p>
                <a href="mailto:zacharymollica@gmail.com">zacharymollica@gmail.com</a>
                <br>
                <a href="https://instagram.com/zacharymollica">@zacharymollica</a>
            </p>
        </div>

        <div class="span12">
            {% for listing in site.data.resume %}
                <h3>{{ listing.category }}</h3>

                {% for item in listing.sub %}
                            <div class="resume-item">

                {% if item.role %}<h5>{{ item.role }}</h5>{% endif %}
                <h4>{{ item.name }}</h4>

                {% if item.description or item.location or item.link %}
                <p>{{ item.description }}

                    {% if item.description and item.location or item.date or item.link %}<br>{% endif %}
                    {% if item.location %}
                    {{ item.location }}
                    {% endif %}
                    {% if item.date %} / {{ item.date }}
                    {% endif %}
                    
                    {% if item.link %} / <a href="{{ item.link }}" target="_blank">Link</a>{% endif %}
                    
                </p>
                {% endif %}
                            </div>

                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>