---
layout: page
title: Resume
permalink: /resume/
---

<div class="resume">

<div class="row" style="font-family: 'webmono';">
<div class="span8">

    <h2>Bio</h2>
    <p>Zachary Mollica is a 26 year old Canadian architect and maker currently working full time as a Studio Tutor for the Architectural Association's Design + Make masters programme. Zac completed his MArch at the AA and his BEDS at Dalhousie School of Architecture.</p>

    <p><a href="mailto:zacharymollica@gmail.com">zacharymollica@gmail.com</a></p>

    <hr>

<!-- Education -->

<h2>Teaching</h2>
{% for job in site.data.resume.academic %}
<div class="block">
    <div class="date">{{ job.date }} // {{ job.location }}</div>
    <div class="name">{{ job.name }}</div>
    <div class="role">{{ job.role }}</div>
    <p>{{ job.description }}</p>
</div>
{% endfor %}

<hr>


<!-- Professional -->


<h2>Working</h2>
{% for job in site.data.resume.jobs %}

<div class="block">
    <div class="date">{{ job.date }} // {{ job.location }}</div>
    <div class="name">{{ job.name }}</div>
    <div class="role">{{ job.role }}</div>
    <p>{{ job.description }}</p>
</div>

{% endfor %}

<hr>


<!-- Education -->

<h2>Schooling</h2>

{% for school in site.data.resume.schools %}

<div class="block">
    <div class="date">{{ school.date }} // {{ school.location }}</div>
    <div class="name">{{ school.name }}</div>
    <p>{{ school.description }}</p>
</div>

{% endfor %}

<hr>



<!-- Writing -->


<h2>Writing</h2>
<ul>
    {% for paper in site.data.resume.papers %}
    <li>
        <span>{{ paper.year }}</span>
        <a href="{{ paper.file }}"><span>{{ paper.name }}</span></a>
        <p>{{ paper.context }}</p>
    </li>
    {% endfor %}
</ul>
<hr>


<!-- Press -->


        <h2>Press</h2>
        <ul>
            {% for piece in site.data.resume.press %}
            <li>
                <span>{{ piece.year }}</span>
                <span>
			{% if piece.link %}
				<a href="{{ piece.link }}">{{ piece.name }}</a>
			{% else %}
			{{ piece.name }}
			{% endif %}
			{{ piece.description }}

			</span>
            </li>
            {% endfor %}
        </ul>
        <hr>

<!-- Awards -->


<h2>Awards</h2>
<ul>
    {% for award in site.data.resume.awards %}
    <li>
        <span>{{ award.year }}</span>
        <span>{{ award.description }}</span>
    </li>
    {% endfor %}
</ul>

<hr>



<!--  -->



<h2>Events</h2>
{% for event in site.data.resume.events %}
<div class="block">
    <div class="date">{{ event.year }}</div>
    <span>
            {% if piece.link %}
                <a href="{{ event.link }}">{{ event.name }}</a>
            {% else %}
            {{ event.name }}
            {% endif %}
            {{ event.description }}

            </span>
</div>
{% endfor %}
<hr>
<!--  -->










    </div>
</div>









</div>

